<include href="includes/header.html"></include>

<body>
<div id="home-wrapper">

    <include href="includes/nav.html"></include>
    <div class="portfolio-nav">
        <div class="navbar navbar-expand-lg navbar-dark justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ @BASE }}">Photograrphy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Videography</a>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>

<include href="includes/footer.html"></include>