/* Styles across all pages */

/* Styles for navbar */

#nav-wrapper{
    padding-top: 2.3rem;
}
.portfolio-nav{
    padding-top: 7rem;
}
.active #videography:hover #photography:hover{
    text-underline-offset: 7px;
    text-decoration: underline;
}

/* Styles for home page */

#home-wrapper{
    background-image: url(../images/website/main.jpg);
    background-color: #1d2124;
    background-size: cover;
    background-position: center;
    min-height: 950px;
    height: auto;

    transition: background-image 0.5s;
}

/* Styles for footer */

footer{
    padding-top: 2.3rem;
}